doctype html
html(lang='en-US')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='Orders at fly!')
		meta(name='keywords' content=' Playscode | Ordersfly')
		meta(name='author' content='PlaysCode')
		title #{title}

		block styles
			link(rel='shorcut icon' href='images/5.png' type='image/x-icon')
	body
		block content

		block scripts
			script(data-main='scripts/common' src='scripts/libs/require.js')