footer
	relative bottom 0 left 0 right 0
	height 3rem
	background-color transparent
	setFont('ubuntubold', .7em, normal, black, center, initial, normal, normal, 3rem, ellipsis, true)
	white-space nowrap
	box-shadow none