$bgcolorwrapper = #E9EAED

$titlecolor = #16210B
$linknormal = #0306F2 //#0A40E0

$boxshadowcolor = #2C2A26
$purpurefull = #3d3470

$grayobscure = #4D4D4D
$redwarning = #FF003C // boton rojo.

$greenwarning = #7be3c0
$greenobscure = #084F14
$greenhover = #25CB8E // boton verde.