// ------------------------------------------------------------------------------------------------ OPENSANS:
@font-face
	font-family openSans
	src url('../fonts/OpenSans/opensans-light-webfont.eot')
	src url('../fonts/OpenSans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/opensans-light-webfont.woff') format('woff'),
		url('../fonts/OpenSans/opensans-light-webfont.svg#open_sanslight') format('svg'),
		url('../fonts/OpenSans/opensans-light-webfont.ttf') format('truetype')
	font-weight 300
	font-style normal
	font-variant normal

@font-face
	font-family openSans
	src url('../fonts/OpenSans/opensans-regular-webfont.eot')
	src url('../fonts/OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/OpenSans/opensans-regular-webfont.svg#open_sansregular') format('svg'),
		url('../fonts/OpenSans/opensans-regular-webfont.ttf') format('truetype')
	font-weight 400
	font-style normal
	font-variant normal

@font-face
	font-family openSans
	src url('../fonts/OpenSans/opensans-semibold-webfont.eot')
	src url('../fonts/OpenSans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/opensans-semibold-webfont.woff') format('woff'),
		url('../fonts/OpenSans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg'),
		url('../fonts/OpenSans/opensans-semibold-webfont.ttf') format('truetype')
	font-weight 600
	font-style normal
	font-variant normal

@font-face
	font-family openSans
	src url('../fonts/OpenSans/opensans-bold-webfont.eot')
	src url('../fonts/OpenSans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/opensans-bold-webfont.woff') format('woff'),
		url('../fonts/OpenSans/opensans-bold-webfont.svg#open_sansbold') format('svg'),
		url('../fonts/OpenSans/opensans-bold-webfont.ttf') format('truetype')
	font-weight 700
	font-style normal
	font-variant normal

@font-face
	font-family openSans
	src url('../fonts/OpenSans/opensans-extrabold-webfont.eot')
	src url('../fonts/OpenSans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/opensans-extrabold-webfont.woff') format('woff'),
		url('../fonts/OpenSans/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg'),
		url('../fonts/OpenSans/opensans-extrabold-webfont.ttf') format('truetype')
	font-weight 800
	font-style normal
	font-variant normal
// ------------------------------------------------------------------------------------------------ UBUNTU:
@font-face
	font-family 'ubuntubold'
	src url('../fonts/Ubuntu/ubuntu-bold-webfont.eot')
	src url('../fonts/Ubuntu/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
		url('../fonts/Ubuntu/ubuntu-bold-webfont.woff') format('woff'),
		url('../fonts/Ubuntu/ubuntu-bold-webfont.svg#ubuntubold') format('svg'),
		url('../fonts/Ubuntu/ubuntu-bold-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'ubuntulight'
	src url('../fonts/Ubuntu/ubuntu-light-webfont.eot')
	src url('../fonts/Ubuntu/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
		url('../fonts/Ubuntu/ubuntu-light-webfont.woff') format('woff'),
		url('../fonts/Ubuntu/ubuntu-light-webfont.svg#ubuntulight') format('svg'),
		url('../fonts/Ubuntu/ubuntu-light-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'ubuntumedium'
	src url('../fonts/Ubuntu/ubuntu-medium-webfont.eot')
	src url('../fonts/Ubuntu/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
		url('../fonts/Ubuntu/ubuntu-medium-webfont.woff') format('woff'),
		url('../fonts/Ubuntu/ubuntu-medium-webfont.svg#ubuntumedium') format('svg'),
		url('../fonts/Ubuntu/ubuntu-medium-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'ubunturegular'
	src url('../fonts/Ubuntu/ubuntu-regular-webfont.eot')
	src url('../fonts/Ubuntu/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
		url('../fonts/Ubuntu/ubuntu-regular-webfont.woff') format('woff'),
		url('../fonts/Ubuntu/ubuntu-regular-webfont.svg#ubunturegular') format('svg'),
		url('../fonts/Ubuntu/ubuntu-regular-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal
// ------------------------------------------------------------------------------------------------.