<div class='employeeData' data-employee-id='<%=id%>'>
	<h1>Employee information</h1>
	<p><strong>Firstname:</strong> <span><%=firstname%></span></p>
	<p><strong>Lastname:</strong> <span><%=lastname%></span></p>
	<p><strong>Gender:</strong> <span><%=gender%></span></p>
	<p><strong>RTN:</strong> <span><%=rtn%></span></p>
	<p><strong>Location:</strong> <span><%=location%></span></p>
	<p><strong>Phone:</strong> <span><%=phone%></span></p>
	<p><strong>Photo:</strong> <span><%=photo%></span></p>
	<p><strong>Comment:</strong> <span><%=comment%></span></p>
	<p><strong>Status:</strong> <span><%=status%></span></p>
	<button type='button' class='btn btn-success buttonGoToEdit'><span class='glyphicon glyphicon-pencil'></span>&nbsp;Edit</button>
</div>